<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951574085427-20f4f8usfuanbv8k3kud1ac9rkhg4ugd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951574085427-20f4f8usfuanbv8k3kud1ac9rkhg4ugd</string>
	<key>API_KEY</key>
	<string>AIzaSyBDBZZ96okjUtBr--HHE-7N8Xjntbzm5Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>951574085427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lorenzo.repost</string>
	<key>PROJECT_ID</key>
	<string>ios-flutter-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-flutter-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951574085427:ios:a70607caae81b2908c4846</string>
</dict>
</plist>